// *****------ SECTION 4 ------*****
#section4{
    // background-color: rgba(189, 202, 212, 0.5);
    background-color: #7D8EBE;
}

.media-links{
    display: flex;
}

.connect-row{
    padding: 30px 0 30px 0;
}
.media-links-img-container{
    margin: auto;
    align-items: center; //<---- IE WORKAROUND
    width: 50px;
}